//colors

//$Light-red (CTA text): hsl(356, 100%, 66%);
$Very-light-red: hsl(355, 100%, 74%);
$Very-dark-blue: hsl(208, 49%, 24%);

$White: hsl(0, 0%, 100%);
$Grayish-blue: hsl(240, 2%, 79%);
$Very-dark-grayish-blue: hsl(207, 13%, 34%);
$Very-dark-black-blue: hsl(240, 10%, 16%);

$Very-light-orange: hsl(13, 100%, 72%);
$Light-red: hsl(353, 100%, 62%);

$Very-dark-gray-blue: hsl(237, 17%, 21%);
$Very-dark-desaturated-blue: hsl(237, 23%, 32%);

//ui

$color-text-header: $White;
$color-text-footer: $Grayish-blue;
$color-headings:$Very-dark-blue;
$color-text-main:$Very-dark-grayish-blue;
$color-text-menu:$Very-dark-blue;
$color-text-other:$White;
$color-button-primary:$Light-red;
$color-button-secondary:$White;

$background-footer:$Very-dark-black-blue;
$background-header:$Light-red;
$background-menu-primary:$White;
$background-menu-secondary:$Very-dark-gray-blue;
$background-button-primary:$White;
$background-button-hover:$Very-light-red;
